main {
    margin: auto;
    max-width: 95vw;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
}

#thirdday {
	min-height: 0px;
	max-height: 382px !important;
}

.schedulecontainer {
	display: flex;
	flex-flow: row wrap;
	max-width: 100%;
	justify-content: center;
	align-items: stretch;
	gap: 1em;
}

table {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	max-width: none;
	min-width: 640px;
	min-height: calc(100% - 1rem - 36px);
}


table tr {
	min-height: 42px;
	height: 42px;
	max-height: 42px;
	font-size: 1.2rem;
}

.invis {
	opacity: 0%;
}


/*table tr:nth-child(even) th {
	color: #eee;
	font-size: 0.8rem;
	font-weight: normal;
}*/

table th,
table td {
	padding: 0.5rem 1rem;
	/* text-shadow: 2px 2px 0px silver; */
}


table th {
	font-weight: normal;
	border-top: thin dotted #ccc;
	padding: .25rem;
	vertical-align: top;
	height: 30px;
	min-height: 30px;
	max-height: 30px;
}


table td {
	font-size: 0.8125rem;
	width: 90%;
	font-weight: bold;
	line-height: 1.4;
	border-radius: 0.2rem;
	background-color: silver;
	transition: opacity 0.3s ease;
	padding: 0rem 1rem;
}


table td h3,
table td h3 em,
table td p,
table td p em,
table td h4,
table td h4 em {
	margin: 0.125rem;
	max-width: calc(640px - 2rem - .5rem);
	line-height: calc(42px / 3);
	overflow: hidden;
	font-size: 0.8125rem !important;
	padding-left: .5rem !important;
	text-shadow:
		1px 1px 0 #000,
		-1px 1px 0 #000,
		-1px -1px 0 #000,
		1px -1px 0 #000,
		0px 0px 4px rgba(0,0,0,0.125);
}

table td h4,
table td h4 em {
    font-family: 'TradeMarker';
	text-align: left !important;
}


/***********************
 * EVENT COLORS (2024) *
 ***********************/

 .rsg {
	background-color: #ff0000;
	background-image: url("../img/schedule/2024/RSG.webp");
	background-position: top center;
	background-size: cover;
}

 .canon {
	background-color: tan;
	background-image: url("../img/schedule/2024/Canon.webp");
	background-position: center left;
	background-size: cover;
}

.retro {
	background-color: tan;
	background-image: url("../img/schedule/2024/BCR.webp");
	background-position: center left;
	background-size: cover;
}

.canon h3,
.canon p,
.canon h4 {
	text-shadow: 0px 0px 4px #080808, 0px 0px 4px #080808 0px 0px 4px #080808 0px 0px 4px #080808;
}


.direct {
	background-color: white;
	background-image: url("../img/schedule/2024/Direct.webp");
	background-position: center right;
	background-repeat: no-repeat;
	background-size: cover;
}
.treehut{
	background-image: url("../img/schedule/2024/Treehut.webp");
	background-position: right;
	background-size: cover;
}
.treehut p {
	max-width: 55%;
}

.fs {
	background-color: #09c2e3;
	background-image: url("../img/schedule/2024/FWB.webp");
	background-position: center;
	background-size: cover;
}

.gf {
	background-color: #09c2e3;
	background-image: url("../img/schedule/2024/GF.webp");
	background-position: center;
	background-size: cover;
}

.btgs {
	background-color: crimson;
	background-image: url("../img/schedule/2024/BTGS.webp");
	background-position: top right;
	background-size: cover;
}
.btgs p {
	width:60%;
	overflow: visible;
	padding-bottom: 0.2rem;
}

.beyond {
	background-image: url("../img/schedule/2024/Slot_Asset.png");
	background-position: center;
	background-size: cover;
}

.int {
	background-color: #663366;
	background-image: url("../img/schedule/2024/Break.webp");
	background-position: center;
	background-size: cover;
}

.saygerskakdi {
	background-image: url("../img/schedule/2024/JoP.webp");
	background-position: center;
	background-size: cover;
}

.mibb {
	background-image: url("../img/schedule/2024/MIbB.webp");
	background-position: center;
	background-size: cover;
}

.ide {
	background-image: url("../img/schedule/2024/Ide.webp");
	background-position: center;
	background-size: cover;
}

.tkt {
	background-image: url("../img/schedule/2024/TKT.webp");
	background-position: right;
	background-size: cover;
}
.omfg {
	background-image: url("../img/schedule/2024/OMFG.webp");
	background-position: center;
	background-size; cover;
}
.kai {
	background-image: url("../img/schedule/2024/Kai.webp");
	background-position: right;
	background-size: cover;	
}
.robo {
	background-image: url("../img/schedule/2024/Robo.webp");
	background-position: center bottom;
	background-size: cover;	
}

.wmmnsg {
	background-image: url("../img/schedule/2024/WMMNSG.webp");
	background-position: center;
	background-size: cover;	
}

.minionicle {
	background-image: url("../img/schedule/2024/Mini.webp");
	background-position: right;
	background-size: cover;	
}

.Herora {
	background-image: url("../img/schedule/2024/Herora.webp");
	background-position: center;
	background-size: cover;	
}	

.crafting {
	background-image: url("../img/schedule/2024/Crafting.webp");
	background-position: right;
	background-size: cover;	
}		

.evo {
	background-image: url("../img/schedule/2024/Evo.webp");
	background-position: right;
	background-size: cover;	
}

/* mobile styles */

@media screen and (max-width: 1080px) {
	.schedule {
		width: 90vw;
	}

	table {
		min-width: 0rem !important;
		width: 100%;
	}
}