header, header img {
    max-width: 50vw;
}


div#twitch-embed {
    margin-top: 1em;
    width: 100%;
    min-height: 66.66vh;
    height: 66.66vh;
    max-height: 66.66vh;
}


h2.playlisttitle {
    margin-top: 1em;
    margin-bottom: .25em;
}


iframe {
    margin: auto;
    width: 80vw;
    height: calc(80vw * 9 / 16);
}


@media screen and (max-width: 600px) {
    body header,
    body header img {
        min-width: 75vw;
        width: 75vw;
        max-width: 75vw;
    }


    main {
        margin-left: auto;
        min-width: 95vw;
        width: 95vw;
        max-width: 95vw;
        margin-right: auto;
    }
}
