html {
	height: 3000px;
	width: 934px;
	scroll-behavior: smooth;
	background: rgba(0, 0, 0, 0);
	color: fff;
}

a {
	color: fff;
}

@font-face {
	font-family: 'Eraser';
	src: url('/btgs/chalk/eraser/EraserRegular.ttf');
}

.question {
	position: inherit;
	height: 710px;
	width: auto;
	top: 0px;
	left: 0px;
	font-family: 'Eraser';
	text-transform: uppercase;
	font-size: 3em;
	color: rgb(245, 245, 245);
	padding-left: 1rem;
	padding-top: 1rem;
	overflow: hidden;
}

.scroll {
	position: absolute;
	left: 950px;
	color: #000;
}

button,
#position {
	font-family: "Eraser";
}